html {
  @include color('color', 'primary');
  font-family: $body-font, 'Noteworthy Light', sans-serif;
  font-size: $global-font-size;
}

body,
p,
a,
button,
li,
table,
thead,
tbody,
th,
tr,
td,
input,
textarea,
select,
option {
  font-family: $body-font, 'Noteworthy Light', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, 'Noteworthy Light', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  
  @include resp(small) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  
  @include resp(small) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  
  @include resp(small) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.2rem;
  
  @include resp(small) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
